#hatter {
    background-image: url(photo/summer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#tori {
    background-image: url(fix-photo/tori.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#fizika {
    background-image: url(fix-photo/fizika.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#matek {
    background-image: url(fix-photo/matek.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#halozat {
    background-image: url(fix-photo/halozat.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#halozatelmelet {
    background-image: url(fix-photo/halozatelmelet);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#git {
    background-image: url(fix-photo/git.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#python {
    background-image: url(fix-photo/python.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#html {
    background-image: url(fix-photo/html.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#gamehub {
    background-image: url(fix-photo/gamehub.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}




.backgrund {
    background-color: rgba(49, 51, 56, 0.97);
    color: #f2f3f5;
    padding-top: 60px;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

.bg-secondary {
    border: black 1px solid;
}

.be1 {
    margin-left: 20px;
}

.be2 {
    margin-left: 40px;
}

.cim {
    line-height: 40px;
    border-radius: 7px;
}

.kep {
    margin-top: 10px;
    width: 300px;
}

.felso {
    margin-top: 50px;
}

.smol {
    margin-left: 0px;
    padding-left: 0;
    font-size: smaller;
    color: #bfbfbf
}

.sorol {
    padding-left: 30px;
}

.kond {
    float: left;
    margin: 10px;
}

.unli {
    border-bottom: white solid 1px;
}

.upli {
    border-top: white solid 1px;
}

.navbar {
    background-color: #1e1f22;
    color: #fff;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.3s;
}

.navbar li {
    height: 100%;
    align-items: center;
    margin: 0 10px;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
    height: 100%;
    align-items: center;
    padding: 0 10px;
}

.navbar.hidden {
    top: -50px;
}

.nav-link {
    background-color: #1e1f22;
}
.dropdown-item {
    background-color: #1e1f22;
}
.dropdown-menu-dark {
    background-color: #1e1f22;
}

.keret {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.keret iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




html {
    scroll-behavior: smooth;
}

body {
    max-width: 90%;
    margin: auto;
}

h3 {
    margin-top: 30px;
}

h5 {
    margin-top: 20px;
    text-decoration: underline white;
}

h6 {
    text-decoration: underline white;
}

a {
    text-decoration: none;
}

p {
    text-indent: 10px;
}

img {
    margin: 10px;
}

section {
    padding: 15px;
    border-radius: 30px;
}